<aside id="logo-sidebar"
    class="fixed top-0 left-0 z-40 w-64 h-screen pt-20 transition-transform -translate-x-full bg-white border-r border-gray-200 sm:translate-x-0 dark:bg-gray-800 dark:border-gray-700"
    aria-label="Sidebar">
    <div class="h-full px-3 pb-4 overflow-y-auto bg-white dark:bg-gray-800">
        <ul class="space-y-2 font-medium">
            <li>
                <a routerLink="/competition"
                    class="flex items-center p-2 text-gray-900 rounded-lg dark:text-white hover:bg-aftasColor hover:text-white dark:hover:bg-gray-700 group">
                    <img src="../../../../assets/competition.svg" class="h-8 mr-2" alt="Competiton icon" />
                    Competitions
                </a>
            </li>
            <li>
                <a routerLink="/members"
                    class="flex items-center p-2 text-gray-900 rounded-lg dark:text-white hover:bg-aftasColor hover:text-white dark:hover:bg-gray-700 group">
                    <img src="../../../../assets/member.svg" class="h-8 mr-2" alt="Members icon" />
                    Members
                </a>
            </li>
            <li>
                <a routerLink="/huntings"
                    class="flex items-center p-2 text-gray-900 rounded-lg dark:text-white hover:bg-aftasColor hover:text-white dark:hover:bg-gray-700 group">
                    <img src="../../../../assets/spearfishingsvg.svg" class="h-8 mr-2" alt="Members icon" />
                    Huntings
                </a>
            </li>
            <li>
                <a routerLink="/manager/users"
                    class="flex items-center p-2 text-gray-900 rounded-lg dark:text-white hover:bg-aftasColor hover:text-white dark:hover:bg-gray-700 group">
                    <!-- <img src="../../../../assets/spearfishingsvg.svg" class="h-8 mr-2" alt="Members icon" /> -->
                    Users Managem
                </a>
            </li>
        </ul>
    </div>
</aside>