<ng-container *ngIf="competition">
  <div class="container mx-auto mt-8 p-8 bg-white rounded-lg shadow-lg">
    <h1 class="text-4xl font-bold mb-4">{{ competition.code }}</h1>

    <div class="grid grid-cols-2 gap-4">
      <div>
        <p class="text-gray-600 mb-2">Location: {{ competition.location }}</p>
        <p class="text-gray-600 mb-2">Date: {{ competition.date }}</p>
        <p class="text-gray-600 mb-2">
          Start Time: {{ competition.startTime }}
        </p>
        <p class="text-gray-600 mb-2">End Time: {{ competition.endTime }}</p>
      </div>

      <div>
        <p class="text-gray-600 mb-2">Amount: {{ competition.amount }}</p>
        <p class="text-gray-600 mb-2">
          Participants: {{ competition.numberOfParticipants }}
        </p>
      </div>
    </div>

    <!-- Add more styles or sections as needed -->

    <div class="mt-8">
      <!-- Add additional information or actions here -->
      <button
        class="bg-blue-500 text-white px-4 py-2 rounded-lg hover:bg-blue-600 focus:outline-none focus:ring focus:border-blue-300"
      >
        Register
      </button>
    </div>
  </div>
</ng-container>
